* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope';
}

body {
  background-color: #f6f8fa;
}

/* ////////// HEADER ////////////// */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./Photos/mainBackground.png');
  height: 120vh;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
}

.nav-bar {
  display: flex;
  list-style: none;
  gap: 40px;
}

.nav-bar a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

hr {
  width: 80%;
  margin: 30px auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 70px 0 0 160px;
  gap: 30px;
  color: #fff;
}

main h1 {
  width: 700px;
  font-size: 75px;
}

main p {
  width: 450px;
  font-size: 20px;
}

main button {
  padding: 10px 25px;
  background-color: #6663e9;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

/*/////// LOGO SECTION ///////////*/

.logo-sec {
  margin: 0 auto;
  padding: 70px;
  width: 1200px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  border-radius: 35px;
  position: relative;
  bottom: 80px;
}

/*//////// CARD SECTION ///////////*/

.card-section {
  margin-top: 40px;
}

.card-heading {
  margin: 0 auto;
  width: 500px;
  text-align: center;
  font-size: 60px;
}

.card-container {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
}

.card-img {
  width: 350px;
  height: 400px;
}

.card-img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.card-details-box {
  width: 320px;
  position: relative;
  bottom: 45px;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
  border-radius: 20px;
}

.card-details p:first-child {
  font-size: 25px;
  font-weight: 700;
}

.card-details p:last-child {
  font-size: 20px;
  font-weight: 700;
  color: #6663e8;
}

.card-btn button {
  padding: 15px 30px;
  border-radius: 30px;
  background-color: #6663e8;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border: none;
}

.card-container > div:nth-child(2) {
  margin-top: 50px;
}

.card-container > div:nth-child(3) {
  margin-top: 100px;
}

.card-container > div:nth-child(4) {
  margin-top: 100px;
}

.card-container > div:nth-child(5) {
  margin-top: 50px;
}

.card-container > div:nth-child(8) {
  margin-top: 50px;
}

.card-container > div:nth-child(9) {
  margin-top: 100px;
}

/*/////////// MODERN SECTION //////////////*/

.modern-sec {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modern-sec div:first-child {
  width: 50%;
}

.modern-sec div:first-child img:first-child {
  width: 500px;

  position: absolute;
  top: -8px;
}

.modern-sec div:first-child img:nth-child(2) {
  width: 360px;
  height: 360px;
  position: relative;
  left: 98px;
  bottom: 60px;
  border-radius: 30px;
}

.modern-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modern-details h2 {
  font-size: 64px;
}

.modern-details > p {
  width: 550px;
  font-size: 20px;
  color: #585c65;
}

.modern-details button {
  padding: 15px 30px;
  border-radius: 30px;
  background-color: #6663e8;

  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border: none;
}

/*////////// UNIQUE HOUSE SECTION //////////////*/

.unique-sec {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.unique-details {
  width: 560px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.unique-details h2 {
  font-size: 64px;
}

.unique-details > p {
  font-size: 20px;
  color: #585c65;
}

.unique-details button {
  padding: 15px 30px;
  border-radius: 30px;
  background-color: #6663e8;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border: none;
}

.unique-sec div:nth-child(2) {
  width: 50%;
}

.unique-sec div:nth-child(2) img:first-child {
  width: 700px;
  height: 450px;
  position: absolute;
  top: -36px;
  right: -10px;
}

.unique-sec div:nth-child(2) img:nth-child(2) {
  width: 385px;
  height: 400px;
  position: relative;
  left: 223px;
  bottom: 100px;
  border-radius: 30px;
}

/*///////////////// SUBSCRIBE SECTION /////////////*/

.sub-sec {
  color: #fff;
  background-color: #6663e8;
  width: 1200px;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px 150px;
  gap: 30px;
  border-radius: 65px;
}

.sub-sec h2 {
  font-size: 66px;
  text-align: center;
}

.sub-sec > p {
  width: 760px;
  font-size: 22px;
  text-align: center;
}

.sub-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.mail-bar {
  background-color: #5654d1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  border-radius: 35px;
  gap: 20px;
}

.mail-bar img {
  width: 30px;
}

.mail-bar input {
  width: 450px;
  font-size: 28px;
  background-color: #5654d1;
  color: #fff;
  border: none;
  outline: none;
}

.mail-bar input::placeholder {
  font-size: 24px;
  color: #ffffff81;
}

.sub-box button {
  padding: 20px 30px;
  border-radius: 35px;
  color: #6663e8;
  background-color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: none;
}

/*////////////// FOOTER SECTION /////////////////*/

footer {
  display: flex;
  justify-content: space-around;
  align-items: start;
  margin: 100px auto;
  width: 1200px;
}

.social-footer {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 35px;
}

.social-footer div {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.social-footer p {
  font-size: 20px;
  width: 320px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 30px;
  font-size: 18px;
  list-style: none;
}

.footer li:first-child {
  font-size: 24px;
  font-weight: 700;
}

.footer li a {
  text-decoration: none;
  color: #000;
}
